.container-fluid{
  background-color: #07173e;
}
#nava{
  color: #ffffff;
}

/* Top Navigation Bar */
#topNavCollapse.show {
  display: flex;
  justify-content: flex-end;
}

#topNavCollapse.collapsing {
  display: none;
}

@media (max-width: 767.98px) {
  #topNavCollapse.show .navbar-nav {
    flex-direction: column;
    align-items: flex-end;
  }
}

/* Bottom Navigation Bar */
#bottomNavCollapse.show {
  display: flex;
  justify-content: flex-end;
}
.navbar-brand-img{
  width: 40%;
  height: fit-content;
}
#bottomNavCollapse.collapsing {
  display: none;
}
h5{
  border: 1px solid black;
  padding: 5px;
}
@media (max-width: 991.98px) {
  #bottomNavCollapse.show .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: 0;
    border: 1px solid black;
  }
  
  .slides {
    display: flex;
    overflow: hidden;
  }
  
  .slides img {
    max-width: 100%;
    height: auto;
    flex: 0 0 100%;
    /* animation: slide 9s infinite; */
    animation: slide 8s ease-in-out .3s infinite;
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(0);
    }
    33.33% {
      transform: translateX(-100%);
    }
    58.33% {
      transform: translateX(-100%);
    }
    66.66% {
      transform: translateX(-200%);
    }
    91.66% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .overlay{
    position: fixed;
    right: 5px;
    /* top: 2;  */
    z-index: 999; 
}
.content{
    display: flex;
    margin-top: 10%;
    margin-bottom: 5%;
}
.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
  justify-content: center;
}

.image {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 5%;
}

.image img {
  max-width: 100%;
  height: auto;
}

.look {
  text-align: center;
  width: 100%;
  padding: 0 5%;
}

.look h2 {
  margin-bottom: 10%;
}

.gif {
  width: 100%;
  height: auto;
}

.tweet {
  font-size: x-large;
}

button {
  border: none;
  margin-top: 10%;
  padding: 15px;
  border-radius: 30px;
  color: white;
  background-color: rgb(5, 175, 242);
}

button:hover {
  background-color: rgb(24, 22, 22);
}

@media (min-width: 768px) {
  .content {
      flex-direction: row;
      justify-content: space-around;
  }

  .image {
      flex: 0 1 40%;
      margin-left: 5%;
      margin-bottom: 0; /* Remove bottom margin on larger screens */
  }

  .look {
      flex: 0 1 50%;
      margin-left: 0;
      padding: 0;
  }
}

.bud {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    width: 90%;
    height: 50%;
    /* margin: 3%; */
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    transition: transform 0.3s, z-index 0.3s, box-shadow 0.3s;
    padding: 20px;
    box-sizing: border-box;
}

.card .circle-image {
    width: 180px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.card .text-content {
    flex-grow: 1;
    overflow-y: auto;
}

.card .text-content h2 {
    margin-top: 0;
}

.card .text-content p {
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
}

.card[data-index="1"] {
    z-index: 1;
}

.card[data-index="2"] {
    z-index: 2;
}

.card[data-index="3"] {
    z-index: 3;
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .card .circle-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}



.myfoot{
    line-height: 1.5;
    font-family: 'poppins', sans-serif;
    background-color: rgb(3, 3, 74);
  }
  .bobfoot{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #concer{
    max-width: 1170px;
    margin: auto;
    padding-top: 2rem;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
    padding: 70px 0;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .footer-col{
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
  }
  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  @media (max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 574px){
    .footer-col{
      width: 100%;
      margin-bottom: 30px;
    }
  }


  .copy{
    text-align: center;
    color: #717171;
    font-size: large;
  }